<secction class="baner">
  <div class="wraper-box">
    <div class="baner__inner">
      <div class="baner__item">
        <div class="baner__content">
          <div class="baner__item-title">
            We have Best Medicare plan options for you
          </div>
          <p class="baner__item-text">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
          </p>
          <a href="#" class="baner__item-link">Read more</a>
        </div>
      </div>

      <div class="baner__item">
        <div class="baner__content">
          <div class="baner__item-title">
            We have Best Medicare plan options for you
          </div>
          <p class="baner__item-text">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
          </p>
          <a href="#" class="baner__item-link">Read more</a>
        </div>
      </div>

      <div class="baner__item">
        <div class="baner__content">
          <div class="baner__item-title">
            We have Best Medicare plan options for you
          </div>
          <p class="baner__item-text">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
          </p>
          <a href="#" class="baner__item-link">Read more</a>
        </div>
      </div>
    </div>
  </div>
</secction>