<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__item footer__box1">
        <div class="footer__title">Get in Touch</div>
        <div class="footer__mail footer__contacts">
          <img src="images/icons/massage.png" alt="">

          <div class="mail__link footer__info">free@psdfreebies.com</div>
          <div class="mail__link footer__info">free@psdfreebies.com</div>
        </div>
        <div class="footer__phone footer__contacts" >
          <img src="images/icons/phone.png" alt="">

          <a href="tel:1234567890" class="phone__link footer__info">+123 456 7890</a>
          <a href="tel:1234567890" class="phone__link footer__info">+123 456 7890</a>
        </div>
        <div class="footer__location footer__contacts">
          <img src="images/icons/location.png" alt="">
          <div class="location__link footer__info">123, Main Road, New City, My Country 123456</div>

        </div>
      </div>

      <div class="footer__item">
        <div class="footer__title">Quick Links</div>
        <ul class="footer__links">
          <li class="footer__link"><a href="#">About us</a></li>
          <li class="footer__link"><a href="#">Blog</a></li>
          <li class="footer__link"><a href="#">Contact us</a></li>
          <li class="footer__link"><a href="#">Faq</a></li>
          <li class="footer__link"><a href="#">Insurance </a></li>
          <li class="footer__link"><a href="#">Contact us </a></li>
        </ul>
      </div>

      <div class="footer__item">
        <div class="footer__title">Our Services</div>
        <ul class="footer__servise">
          <li class="footer__link"><a href="#">
              Work Injuries
            </a></li>
          <li class="footer__link"><a href="#">
              Sport Injuries
            </a></li>
          <li class="footer__link"><a href="#">
              Cold Laser Therapy
            </a></li>
          <li class="footer__link"><a href="#">
              Massage Therapy
            </a></li>
          <li class="footer__link"><a href="#">
              Physiotherapy
            </a></li>
          <li class="footer__link"><a href="#">
              Chiropratic Therapy
            </a></li>
        </ul>
      </div>

      <div class="footer__item footer__box4">
        <div class="footer__title">Enquiry Form</div>
        <form action="" class="footer__form">
          <input type="text" required placeholder="Name">
          <input type="text" required placeholder="Phone">
          <textarea name="" required placeholder="Massage"></textarea>
          <button type="submit">Submit</button>
        </form>
      </div>

    </div>

    <div class="footer-social__links social__links">
      <a href="#" class="fb-link social__link icon-facebook-f"></a>
      <a href="#" class="google-link social__link icon-google-plus"></a>
      <a href="#" class="vk-link social__link icon-vk"></a>
      <a href="#" class="youtube-link social__link icon-youtube"></a>
      <a href="#" class="in-link social__link icon-linkedin2"></a>
    </div>

  </div>
  <div class="author">
    <p>Copyright © 2020. Vitaliy | <a href="tel:380988495835">+38 098 849 5835</a></p>
  </div>
</footer>