html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}
ul,
li {
  list-style-type: none;
}

button:focus,
input:focus {
  outline: transparent;
}

a{
  color :#000;
}








// Замена Скролла

// body::-webkit-scrollbar{
//   width: 15px;
// }
// body::-webkit-scrollbar-track{
//   background-color: transparent;
// }
// body::-webkit-scrollbar-thumb{
//   background-color: $green;
//   border-radius:7px;
// }


// * {
// 	margin: 0;
// 	padding: 0;
// }

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container{
  max-width: 1223px;
  padding: 0 15px;
  margin: 0 auto;
}
.wraper-box{
  max-width: 2560px;
  margin: 0 auto;
}

