@media(max-width: 1050px) {
  .header__top {
    display: block;
  }

  .header__logo {
    display: block;
    text-align: center;
    margin-bottom: 30px;
  }

  .header__data-contacts {
    margin-bottom: 20px;
  }

  .footer__inner {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .footer__box1 {
    max-width: 100%;
    width: 100%;
  }

  .footer__box4 {
    max-width: 100%;
    width: 100%;

    input,
    textarea {
      width: 100%;
    }
  }

  .footer-social__links {
    text-align: center;

    .social__link {
      margin-bottom: 30px;
    }
  }

  .footer__inner {
    margin-bottom: 30px;
  }

  .footer__title {
    margin-bottom: 35px;
    margin-top: 45px;
  }

  .author {
    padding: 15px 0;
  }
}

@media(max-width: 900px) {
  header{
    .container{
      padding: 0;
    }
  }
  .header__top {
    display: none;

    &.active {
      display: block;
    }
  }

  .header__down {
    .menu {
      // width: 0;
      transition: all .3s;
      // display: block;
      text-align: left;
      overflow-x: hidden;
      display: block;

      ul {
        top: 0;
        
        display: block;
        background-color: #5f5f5f;
        width: 100%;
        position: absolute;
        transition: all .3s;
        overflow-y: hidden;
        height: auto;
        transform: translateY(-100%);
        top: -50px;
        z-index: 2;

        li+li {
          margin-left: 0px;
        }

        li {
          margin-left: 0px;
          display: block;
          margin-top: 20px;
        }

      }

      &.active {
        display: block;

        ul {
          display: block;
          background-color: #5f5f5f;
          width: 100%;
          transform: translateY(0);
          position: absolute;
          top: -50px;
          padding: 0 10px;
        }
      }
    }

    .header-social__links {
      display: none;

      &.active {
        display: block;
      }
    }
  }

  .btn__menu {
    display: block;

  }

  .header__down {
    margin-bottom: 50px;
    margin-top: 50px;
  }

  li.header-social__links {
    text-align: center;

    .social__link {
      margin-left: 20px;
      margin-bottom: 20px;
      color: tomato;
    }
  }

  li.header__data-contacts {
    .work-wraper {
      margin-left: 0;
      margin-bottom: 20px;

      .data-icon {
        margin-right: 0;
        left: -3px;
      }

      .data__text,
      .data__title {
        margin-left: 60px;
      }

      * {
        color: #fff;
      }
    }
  }

}

@media(max-width: 630px) {
  li.header__data-contacts .work-wraper {

    .data__title,
    .data__text {
      line-height: 24px;
      margin-left: 0;
    }

    .data-icon {
      top: 0px;
      display: block;
      position: inherit;
      margin: 0 auto;
      margin-bottom: 10px;
      left: 0px;
    }
  }

  li.header__data-contacts *+* {
    margin-left: 0;
  }

  .menu.active li.header-social__links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .social__link {
      margin-left: 0;
      margin-right: 10px;
    }
  }
}

@media(max-width: 500px) {
  .footer__item {
    width: 100%;
  }
}

@media(max-width: 420px) {


  li.header__data-contacts .work-wraper {

    .data__title,
    .data__text {
      font-size: 12px;
    }
  }
}